@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700|Quicksand:300,400,500,600&display=swap');

/* ..............................Colours */

/* ..........HOME.......... */

.bg-color-hero {
    background-color: #070606d5;
}

.bg-color-racing {
    background-color: #fafafa;
}

.racing-container h2 {
    color: rgb(13, 17, 17);
}

.jumbotron-left,
.jumbotron-right {
    background-color: #053352c2;
}

.bg-color-social-home {
    background-color: rgb(146, 185, 55);
}

.bg-color-footer {
    background-color: #131010d5;
}

.bg-color-collaboration {
    background-color: #ece5e5e5;
}

/* ..........PROFILE.......... */

.bg-color-profile {
    background-color: #d4ce7cef;
}

.green-jersey {
    color: rgb(7, 102, 7);
}

.red-jersey {
    color: rgba(160, 11, 11, 0.87);
}

.light-green-jersey {
    color: rgb(35, 161, 35);
}

.gold-medal {
    color: rgba(212, 197, 111, 0.801);
}

.silver-medal {
    color: silver;
}

.bg-color-awards {
    background-color: rgba(209, 204, 204, 0.664);
}

/* ..........CONTACT.......... */

.bg-color-contact {
    background-color: #ece5e5e5;
}

.form-control {
    background-color: #ece5e5e5;
    border-color: #212529;
}

.bg-color-form-button {
    background-color: #ece5e5e5;
    border-color: #212529;
}

.bg-color-social-contact {
    background-color: rgb(146, 185, 55)
}

/* ..............................Special paddings / margins / text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.container-fluid h2 {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 5px;
    margin: 20px 0;
    text-align: center;
}

@media screen and (min-width: 414px) and (max-width: 1024px) {
    .container-fluid h2 {
        font-size: 36px;
        letter-spacing: 3px;
    }

    #collaborate {
        font-size: 32px;
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 414px) {
    .container-fluid h2 {
        font-size: 32px;
        letter-spacing: 3px;
    }
}

/* ..........HOME PAGE.......... */

/* ..............................Navbar */

.navbar-brand {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;
    color: #595959;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.nav-item {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
    .nav-item {
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 1.5px;
    }
}

@media screen and (max-width: 414px) {
    .navbar-brand {
        font-size: 24px;
    }
}


/* ..............................Hero Image */

.header-container {
    height: 65vh;
    color: #fff;
}

.hero-image {
    width: 100%;
    height: 400px;
    background: url("../images/Cav_header.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-size: cover;
}

.hero-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

.header-narrative {
    padding: 0 24px;
}

.header-items {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fafafa;
    text-align: center;
    border: 0;
    padding: 56px 0;
}

.header-items ul li {
    list-style-type: none;
    margin-top: 10px;
}

@media screen and (max-width: 414px) {
    .header-items ul {
        padding-left: 0;
    }

    .header-items ul li {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .header-items ul {
        padding-left: 0;
    }
}

/* ..............................Racing */

.racing-container {
    padding-bottom: 20px;
}

.racing-container h2 {
    margin-bottom: 0;
}

.racing-container h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 2px;
    color: #18300b;
    padding-bottom: 20px;
}

.jumbotron-left {
    height: 300px;
    margin-left: 25px;
    margin-right: 12.5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.jumbotron-right {
    height: 300px;
    margin-left: 12.5px;
    margin-right: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.jumbotron-left h5 {
    color: #fafafa;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.jumbotron-left p,
.jumbotron-right p {
    color: #fafafa;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
}

.jumbotron-button {
    background-color: rgba(197, 153, 153, 0.2);
    color: #fafafa;
}

.next-race {
    padding-bottom: 0;
}

@media screen and (max-width: 414px) {
    .jumbotron-left,
    .jumbotron-right {
        height: 350px;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .jumbotron-left {
        margin-bottom: 20px;
    }

    .racing-container h2 {
        margin: 0;
    }

    .racing-container {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 420px) and (max-width: 1020px) {
    .jumbotron-left,
    .jumbotron-right {
        height: 350px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
    }

    .jumbotron-left p,
    .jumbotron-right p {
        font-size: 18px;
    }

    .jumbotron-left {
        margin-bottom: 20px;
    }

    .racing-container h2 {
        margin: 0;
    }

    .racing-container {
        padding-bottom: 0;
    }
}

/* ..............................Social */

.social-links-home {
    text-align: center;
    margin-top: 10px;
}

.social-links-home li a i {
    padding: 1%;
    font-size: 200%;
    line-height: 6px;
    text-align: center;
    color: #fafafa;
    transform: 0.35s ease-in-out;
    -moz-transform: 0.35s ease-in-out;
    -webkit-transform: 0.35s ease-in-out;
    -o-transform: 0.35s ease-in-out;
}

.social-links-home li {
    display: inline;
}

.social-images {
    clear: both;
    object-fit: contain;
    padding: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.social-images img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow: hidden; 
}

@media screen and (max-width: 1024px) {
    .social-container-home h2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 414px) {
    .social-container-home h2 {
        margin-bottom: 0;
    }

    .social-links {
        margin-top: 0;
    }
}

/* ..............................Contact / Collaboration */

.contact-collaboration {
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;
}

.collaboration-narrative {
    margin-bottom: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.collaboration-container {
    padding-bottom: 40px;
}

.collaboration-container a {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(13, 17, 17);
    letter-spacing: 2px;
    border: 1.5px solid #504c4c70;
    margin-bottom: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
}

.hvr-sweep-to-bottom:before {
    background: rgba(89, 88, 94, 0.5);
    height: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .collaboration-container {
        padding-bottom: 10px;
    }

    .collaboration-container h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .collaboration-narrative {
        padding-bottom: 10px;
    }
}

/* ..............................Footer */

.footer-container {
    padding: 15px;
    color: #fff;
    font-size: 12px;
    text-align: right;
}

.footer-container p {
    margin: 0;
}

/* ..........PROFILE PAGE.......... */

/* ..............................Hero Image */

.hero-image-profile {
    width: 100%;
    height: 100%;
    background: url("../images/Cav_header_2.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-size: cover;
    padding: 0;
    overflow: hidden;
}

.hero-outer-profile {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.profile-pic {
    padding: 0;
}

.header-pic1 {
    padding: 0;
    height: 100%;
    width: 100%;
}

/* ..............................Profile */

.profile-column {
    padding: 35px 0 15px 0;
}

.profile-header {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 3px;
    color: rgb(13, 17, 17);
    padding: 0 0 25px 40px;
}

.profile-narrative {
    padding-right: 16px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 17, 17);
    letter-spacing: 1px;
    padding: 10px 40px;
    margin-top: 50px;
    text-align: center;
}

.profile-item {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: rgb(13, 17, 17);
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.profile-item .key,
.profile-item .value {
    padding-right: 8px;
    display: inline-block;
}

.profile-item .key p,
.profile-item .value p {
    margin: 0;
}

.profile-item .key {
    width: 35%;
    padding-top: 2px;
    font-weight: 600;
    text-align: right;
}

.profile-item .value {
    position: relative;
    width: 60%;
    font-weight: 400;
}

@media screen and (max-width: 414px) {
    .profile-column {
        padding-top: 25px;
    }
    
    .profile-header {
        text-align: center;
        padding-right: 25px;
        padding-bottom: 15px;
    }

    .profile-narrative {
        text-align: center;
        margin-top: 25px;
    }

    .profile-item .key {
        width: 40%;
        padding-right: 4px;
        text-align: right;
    }

    .profile-item .value {
        width: 55%;
        padding-left: 10px;
        vertical-align: bottom;
    }

    .profile-item {
        margin-bottom: 10px;
    }

    .road-header {
        padding-left: 56px;
    }

    .track-header {
        padding-left: 56px;
    }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
    .profile-header {
        text-align: center;
        padding-left: 0;
    }

    .profile-narrative {
        padding: 0 25px;
        text-align: center;
    }

    .profile-item .key {
        width: 40%;
        padding-right: 4px;
        text-align: right;
        vertical-align: top;
    }

    .profile-item .values {
        width: 56%;
        padding: 0;
    }
}

/* ..............................Achievements */

.achievements-column {
    padding: 35px 20px 25px 20px;
}

.achievements-header {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 3px;
    color: rgb(13, 17, 17);
    padding: 0 0 25px 0;
}

.achievements-body {
    padding-left: 0;
}


.road-race-table,
.track-race-table {
    padding-bottom: 20px;
    width: 100%;
    margin-left: 0;
}

.road-race-table .road-race-row,
.track-race-table .track-race-row {
    display: flex;
    flex-wrap: wrap;
}

.road-race-table .road-race-row .key,
.track-race-table .track-race-row .key {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(13, 17, 17);
    letter-spacing: 1px;
    border-right: 3px solid green;
    border-bottom: 0px;
    flex-grow: 1;
    width: 45%;
    padding: 0.8em 1.0em 0 0;
    overflow: hidden;
    list-style: none;
    text-align: right;
}

.road-race-table .road-race-row .value,
.track-race-table .track-race-row .value {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(13, 17, 17);
    letter-spacing: 1px;
    border-bottom: 0px;
    box-sizing: border-box;
    flex-grow: 1;
    width: 55%;
    padding: 0.8em 0 0 1.0em;
    overflow: hidden;
    list-style: none;
}

.road-race-row i,
.track-race-row i {
    padding-right: 10px;
}

.road-race-table .road-race-row .value p,
.track-race-table .track-race-row .value p {
    width: 100%;
    margin-bottom: 5px;
}

.road-header h5 {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 3px;
    color: rgb(47, 51, 51);
    padding-top: 2px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.track-header h5 {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 3px;
    color: rgb(13, 17, 17);
    padding-left: 15px;
    padding-bottom: 15px;
}

.road-victories {
    padding-left: 0;
    padding-bottom: 40px;
    margin-left: 0;
}

.track-victories {
    padding-bottom: 15px;
    padding-left: 0;
    margin-left: 0;
}

@media screen and (max-width: 414px) {
    .achievements-header {
        padding-left: 0;
        text-align: center;
    }

    .achievements-column {
        padding-left: 0;
    }

    .road-header,
    .track-header {
        padding-left: 0;
        text-align: center;
    }

    .road-race-table .road-race-row .key {
        width: 30%;
        padding-right: 8px;
        padding-left: 6px;
    }
    
    .track-race-table .track-race-row .key {
        width: 30%;
        padding-right: 8px;
        padding-left: 6px;
    }

    .road-race-table .road-race-row .value {
        width: 55%;
        padding-left: 10px;
        padding-right: 5px;
    }
    
    .track-race-table .track-race-row .value {
        width: 55%;
        padding-left: 10px;
        padding-right: 5px;
    }

    .road-race-row i,
    .track-race-row i {
    padding-right: 3px;
    }

    .road-victories,
    .track-victories {
        margin-left: 8px;
    }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
    .achievements-column {
        padding-left: 0;
    }
    
    .achievements-header {
        padding-left: 0;
        text-align: center;
    }

    .road-header,
    .track-header {
        padding-left: 0;
        text-align: center;
    }

    .profile-item .key {
        width: 45%;
        padding-right: 4px;
        text-align: right;
    }

    .profile-item .value {
        width: 50%;
        padding-left: 10px;
        vertical-align: bottom;
    }
}

/* ..............................Awards */

.awards-image {
    width: 210px;
    height: 210px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid rgba(226, 222, 222, 0.603);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
}

.awards-header h5 {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 3px;
    color: rgb(13, 17, 17);
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.awards-narrative p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(13, 17, 17);
    letter-spacing: 1px;
    padding: 20px 50px 0 50px;
    text-align: center;
}

.victories-column {
    padding-right: 0;
}

.awards-column {
    padding-left: 0;
}

@media screen and (max-width: 414px) {
    .awards-header h5 {
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    .awards-narrative p {
        font-weight: 400;
        font-size: 18px;
        padding: 20px 25px 0 25px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px) {
    .awards-header h5 {
        margin-top: 10px;
        margin-bottom: 0;
        padding-left: 0;
    }

    .awards-narrative p {
        font-weight: 400;
        font-size: 18px;
        padding: 15px 15px;
        margin-bottom: 0;
    }
}


/* ..........CONTACT PAGE.......... */

.contact-container h2 {
    font-size: 36px;
}

.contact-narrative {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: #212529;
    margin-bottom: 0;
    text-align: center;
}

.form-container {
    padding-left: 0;
    padding-bottom: 25px;
    height: 100vh;
}

.form-input {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    color: #212529;
    margin: 8px 0;
}

::placeholder {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    color: #212529;
}

.form-button {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    color: #212529;
    border: 1px solid;
    margin-top: 24px;
}

.social-container-contact {
    margin: 0;
}

.social-links-contact {
    text-align: center;
    margin-top: 10px;
}

.social-links-contact li a i {
    padding: 1%;
    font-size: 250%;
    line-height: 6px;
    text-align: center;
    color: #fafafa;
}

.social-links-contact li {
    display: inline;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
}

@media screen and (max-width: 414px) {
    .contact-container {
        padding-bottom: 0;
    }

    .contact-container h2 {
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
    }

    .contact-narrative {
        text-align: center;
        padding: 0;
    }

    .social-links-contact {
        margin-bottom: 0;
    }

    .social-links-contact li a i {
        font-size: 160%;
    }
}

@media screen and (min-width) and (max-width: 1024px) {
    .contact-container {
        padding-bottom: 0;
    }
    
    .contact-container h2 {
        font-size: 34px;
        margin-bottom: 0;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
    }

    .contact-narrative {
        text-align: center;
        padding: 20px 10px;
    }

    .social-links-contact {
        margin-bottom: 0;
    }
}

/* ..........PROFILE PAGE.......... */

.social-container-profile {
    margin: 0;
}

.social-links-profile {
    text-align: center;
    margin-top: 10px;
}

.social-links-profile li a i {
    padding: 1%;
    font-size: 200%;
    line-height: 6px;
    text-align: center;
    color: #fafafa;
    transform: 0.35s ease-in-out;
    -moz-transform: 0.35s ease-in-out;
    -webkit-transform: 0.35s ease-in-out;
    -o-transform: 0.35s ease-in-out;
}

.social-links-profile li {
    display: inline;
}

@media screen and (max-width: 414px) {
    .social-links-profile {
        margin-bottom: 0;
    }

    .social-links-profile li a i {
        font-size: 180%;
    }
}